.App {
  text-align: center;
  padding:1.5rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: white;
   color: #000;
font-family: "Playfair Display";
font-size: 2rem;
font-style: normal;
}


